.collections{
    
    padding: 15em;
    /* width: 100vw;
    height: 100vh; */
    position: relative;
}

.collections__background-img{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
.collections__foreground-img{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;
    height: 100vh;
    z-index: -1;
}
