.card-container{
    display: grid;

    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    border: 1px solid red;
    padding: 1em;
    
    
}
.card{
    border: 1px solid greenyellow;
    background-color: whitesmoke;
    padding: 2em;
    box-shadow: var(--bs);


}
.card__img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.card__size{
    background: linear-gradient(90deg, rgba(242, 248, 210, 0.80) -28.38%, rgba(255, 206, 250, 0.80) 156.43%);
    padding: .5em .8em;
    box-shadow: var(--bs);
    border-radius: 50px;
    margin-left: .7em;
}
.text-wrapper{
    display: flex;
}
.card__heart-icon{
    /* position: absolute; */
    /* top: 71.5%;
    right: 10%; */
    font-size: 1.8rem;
    color:  rgb(233, 117, 221);
    justify-self: self-end;
       



}

.card h2{
    width: auto;
}
